.ToDoItem {
    border-color: #d3d3d3 !important;
    border: 1px;
    border-style: solid;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ToDoItem:hover{
    background-color: #dfdfdf;
}

.IconItem{
    font-size: 35px;   
    color:#c7c6c6;
    margin-right: 15px;
}

.IconItemCompleted{
    color: #00c921;
}

.IconItemCompleted:hover{
    color: #03be22;
    transform: scale(5) !important;
}

.IconItemDelete{
    font-size: 35px;   
    color: #ff0000;
    float: right;
}

.IconItemDelete:hover{
    color: #d10000;
}

.Text{
    font-size: 20px;
}

.TextCompleted{
    text-decoration: line-through;
}

.priority{
    padding-left: 50px;
    font-size: 11px;
}

.flag-0{
    color: #535353;
}

.flag-1{
    color: #a500a5;
}

.flag-2{
    color: #ffae00;
}

.flag-3{
    color: #ff0000;
}
